# Server
PORT=3001
NODE_ENV=production
API_KEY=tu-api-key-secreta-aqui

# Timeouts
REQUEST_TIMEOUT_MS=15000
DOWNLOAD_REQUEST_TIMEOUT_MS=120000

# Downloads
DOWNLOADS_DIR=downloads
DEBUG_DOWNLOAD=false

# TMDB
TMDB_API_KEY=55c0bb848e296dd8d81046079236067d